<template>
    <div class="blackboard-footer">
        <div class="container">
            <div class="content has-text-centered">
                <span style="font-size: 12px">
                    <strong
                        >Copyright &copy; {{ year }}
                        <a target="blank" href="https://markmarolf.com">Mark Marolf</a></strong
                    >
                    All rights reserved.
                    <br />
                    <a href="https://gitlab.com/blackboard1/blackboard">Source Code</a>
                </span>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Getter } from 'vuex-class';
import moment from 'moment';

@Component({
    components: {},
})
export default class Footer extends Vue {
    private year: number = 2018;

    private mounted() {
        this.year = moment().year();
    }
}
</script>

<style scoped lang="scss">
.blackboard-footer {
    background-color: white;
    height: 50px;
    margin: 15px 20px;
}
</style>
