<template>
    <div class="container">
        <section class="hero is-fullheight">
            <div class="hero-body">
                <div class="container">
                    <h1 class="subtitle" style="padding-bottom: 10px;">
                        Von <b>{{ this.weekStart }}</b> bis <b>{{ this.weekEnd }}</b> sind
                    </h1>
                    <h2 class="title" style="padding-bottom: 10px;">
                        {{ this.currentWeek.user1 }} und {{ this.currentWeek.user2 }}
                    </h2>
                    <h1 class="subtitle">
                        dafür zuständig, die Tafeln zu putzen.
                    </h1>
                </div>
            </div>
        </section>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Getter } from 'vuex-class';
import { User } from '@/models/user';
import { Week } from '@/models/week';
import moment from 'moment';

@Component({
    name: 'Home',
    components: {},
})
export default class Home extends Vue {
    private weeks: Week[] = [];
    private weekStart: string = '';
    private weekEnd: string = '';
    private currentYear: any;
    private currentWeek: Week | undefined = {} as Week;

    private queuedUsers: User[] = [];
    private holidayWeeksNumber = [1, 6, 7, 15, 16, 28, 29, 30, 31, 32, 40, 41, 42, 52];

    @Getter('utils/users') private users: User[];
    @Getter('utils/offsetUsers') private offsetUsers: User[];

    private mounted() {
        moment.locale('de-ch');
        this.weekStart = moment()
            .startOf('week')
            .format('dddd, DD.MM.');
        this.weekEnd = moment()
            .endOf('week')
            .format('dddd, DD.MM.YYYY');
        this.currentYear = moment().year();
        this.queuedUsers = this.offsetUsers.filter((user) => user.active === true);
        this.initWeeks();
        this.setCurrentWeek();
    }

    private setCurrentWeek() {
        const weekIndex = moment().week();
        this.currentWeek = this.weeks.find((week) => week.id === weekIndex);
    }

    private initWeeks() {
        for (let index = 1; index <= 52; index++) {
            const newWeek: Week = {} as Week;

            newWeek.id = index;

            let unformattedDate = moment()
                .year(this.currentYear)
                .week(index)
                .startOf('week');
            newWeek.startdate = moment(unformattedDate).format('dd, Do MMMM YYYY');

            unformattedDate = moment()
                .year(this.currentYear)
                .week(index)
                .endOf('week');
            newWeek.enddate = moment(unformattedDate).format('dd, Do MMMM YYYY');

            if (this.holidayWeeksNumber.includes(index)) {
                newWeek.vacation = true;
                newWeek.user1 = '';
                newWeek.user2 = '';
            } else {
                newWeek.vacation = false;
                const tempUser1 = this.queuedUsers.shift();
                const tempUser2 = this.queuedUsers.shift();

                if (tempUser1 && tempUser2) {
                    newWeek.user1 = '';
                    newWeek.user2 = '';

                    newWeek.user1 = tempUser1.firstname + ' ' + tempUser1.lastname;
                    newWeek.user2 = tempUser2.firstname + ' ' + tempUser2.lastname;

                    this.queuedUsers.push(tempUser1);
                    this.queuedUsers.push(tempUser2);
                }
            }

            this.weeks.push(newWeek);
        }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss"></style>
