<template>
    <div>
        <nav
            id="nav"
            class="navbar is-fixed-top is-transparent"
            role="navigation"
            aria-label="main navigation"
            style="border-bottom: 1px solid #CCC; padding: 0px 5px;"
        >
            <div class="navbar-brand">
                <router-link class="navbar-item" to="/">
                    <img src="../../public/blackboard.png" alt="logo" style="padding-right: 10px;" />
                    <span style="font-size:120%" class="title">Tafeldienst Sbic 3.2</span>
                </router-link>
                <span :class="'navbar-burger burger ' + isActive" v-on:click="toggleNavBar()" data-target="navbarMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </div>

            <div id="navbarMenu" :class="'navbar-menu ' + isActive">
                <div class="navbar-end" @click="hideMenu()">
                    <router-link class="navbar-item" to="/weeks">Wochenliste</router-link>
                    <router-link class="navbar-item" to="/class">Klassenliste</router-link>
                </div>
            </div>
        </nav>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import { Getter } from 'vuex-class';

@Component({
    components: {},
})
export default class Navbar extends Vue {
    protected isActive: string = '';

    private toggleNavBar() {
        if (this.isActive === 'is-active') {
            this.isActive = '';
        } else {
            this.isActive = 'is-active';
        }
    }

    private hideMenu() {
        const self = this;
        setTimeout(function() {
            self.isActive = '';
        }, 100);
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss"></style>
