<template>
    <div id="app">
        <div class="blackboard-wrapper">
            <Navbar class="navbar" />
            <router-view style="padding-top: 1px;" />
        </div>
        <Footer />
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import Footer from '@/components/Footer.vue';
import Navbar from '@/components/Navbar.vue';

@Component({
    components: {
        Footer,
        Navbar,
    },
})
export default class App extends Vue {}
</script>

<style lang="scss">
#app {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    color: black;
}
.blackboard-wrapper {
    min-height: calc(100vh - (80px + 0rem));
    padding: 0.5rem;
    // padding: 1rem 1rem;
}
</style>
